version: 2.1

jobs:
  job_running:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Print job running
          command: echo "job running"

workflows:
  main:
    jobs:
      - job_running
