name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  linter:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Install gems
        run: bundle install

      - name: Run RuboCop
        run: bundle exec rubocop
        
  tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Install gems
        run: bundle install

      - name: Run RSpec
        run: bundle exec rspec
